KERNEL=="mmcblk*p*", SUBSYSTEM=="block", ACTION=="add", RUN+="/usr/bin/su -l gacuilan -c 'noticen -d plug mmcblk $name'"
KERNEL=="mmcblk*p*", SUBSYSTEM=="block", ACTION=="remove", RUN+="/usr/bin/su -l gacuilan -c 'noticen -d unplug mmcblk $name'"
